/* Import Google Fongt - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html, body 
{
    height: 100%;

}
body
{
    display: grid;
    place-items: center;
    background:url(C1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.clock
{
    background: transparent ;
    height: 120px;
    width: 500px;
    line-height: 120px;
    text-align: center;
    padding: 0 5px;
    box-shadow:-3px -3px 7px rgba(255,255 ,255 ,0.05) ,
                3px 3px 7px rgba(0,0,0,0.5);
}
.clock .display
{
    font-size: 60px;
    color: cyan;
    letter-spacing: 5px;
    font-family:'Poppins', sans-serif;
}